<footer class="foot">
  <div class="foot__inner">
    <p class="foot__name">{{ site.title }}</p>
    <ul class="foot__links">
      {%- if site.github_username -%}
        <li><a href="https://github.com/{{ site.github_username }}" rel="me noopener" target="_blank">GitHub</a></li>
      {%- endif -%}
      {%- if site.email -%}
        <li><a href="mailto:{{ site.email }}">Email</a></li>
      {%- endif -%}
      <li><a href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS</a></li>
    </ul>
  </div>
</footer>
